In [1]:
import pyodbc

In [2]:
Server = '127.0.0.1'

In [8]:
Database = 'KCWin'

In [9]:
username ='sa'

In [14]:
password = 'Opc.net'

In [15]:
table_name = 'Data_M'

In [16]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server="+Server+";"
                      "Database="+Database+";"
                      "uid="+username+";pwd="+password+"")

In [17]:
cursor = cnxn.cursor()

In [19]:
cursor.execute('SELECT * FROM ' +table_name+'')

In [21]:
for data in cursor:
    print('data = %r' % (data,))

data = ('                    ', '0', '20160122', '140959', '01', '01', '10', Decimal('12.1500'), Decimal('-4.3500'), Decimal('-6.0600'), Decimal('-0.1400'), Decimal('-0.3100'), Decimal('0.0000'), Decimal('11.1600'), Decimal('4.5900'), Decimal('6.1000'), Decimal('0.0300'), Decimal('0.3100'), Decimal('0.1500'), Decimal('11.3200'), Decimal('-3.9400'), Decimal('-6.0600'), Decimal('-0.0900'), Decimal('-0.2700'), Decimal('-0.1000'), Decimal('12.2200'), Decimal('4.4300'), Decimal('5.9700'), Decimal('0.1700'), Decimal('0.2600'), Decimal('-0.0300'), Decimal('11.8100'), Decimal('-4.5100'), Decimal('-6.0200'), Decimal('-0.0300'), Decimal('-0.4100'), Decimal('0.1000'), Decimal('11.6500'), Decimal('4.5900'), Decimal('5.9300'), Decimal('0.0700'), Decimal('0.3600'), Decimal('0.0300'))
data = ('                    ', '0', '20160121', '140943', '01', '01', '10', Decimal('12.0600'), Decimal('-4.3500'), Decimal('-6.0200'), Decimal('-0.1400'), Decimal('-0.3100'), Decimal('-0.0300'), Decimal('11.0700'), Decimal('4.5100'), Decimal('6.1000'), Decimal('0.0300'), Decimal('0.2900'), Decimal('0.1400'), Decimal('11.4000'), Decimal('-3.9400'), Decimal('-6.1000'), Decimal('-0.0900'), Decimal('-0.2700'), Decimal('-0.1400'), Decimal('12.3000'), Decimal('4.3500'), Decimal('5.9700'), Decimal('0.1700'), Decimal('0.2600'), Decimal('-0.0300'), Decimal('11.8100'), Decimal('-4.5100'), Decimal('-6.0200'), Decimal('-0.0300'), Decimal('-0.4100'), Decimal('0.1000'), Decimal('11.6500'), Decimal('4.5900'), Decimal('5.9300'), Decimal('0.0700'), Decimal('0.3600'), Decimal('0.0300'))
data = ('                    ', '0', '20160121', '140944', '01', '01', '10', Decimal('12.0600'), Decimal('-4.2700'), Decimal('-6.0600'), Decimal('-0.1500'), Decimal('-0.2900'), Decimal('-0.0200'), Decimal('11.1600'), Decimal('4.5900'), Decimal('6.1000'), Decimal('0.0300'), Decimal('0.2900'), Decimal('0.1400'), Decimal('11.4000'), Decimal('-3.9400'), Decimal('-6.1000'), Decimal('-0.0900'), Decimal('-0.2700'), Decimal('-0.1200'), Decimal('12.3000'), Decimal('4.5100'), Decimal('5.9700'), Decimal('0.1700'), Decimal('0.2600'), Decimal('0.0000'), Decimal('11.8900'), Decimal('-4.5100'), Decimal('-6.0200'), Decimal('-0.0300'), Decimal('-0.4100'), Decimal('0.0900'), Decimal('11.6500'), Decimal('4.5900'), Decimal('5.9300'), Decimal('0.0700'), Decimal('0.3600'), Decimal('0.0300'))
data = ('                    ', '0', '20160121', '140946', '01', '01', '10', Decimal('12.0600'), Decimal('-4.3500'), Decimal('-6.0200'), Decimal('-0.1400'), Decimal('-0.3100'), Decimal('-0.0200'), Decimal('11.0700'), Decimal('4.5100'), Decimal('6.0200'), Decimal('0.0300'), Decimal('0.2900'), Decimal('0.1400'), Decimal('11.4000'), Decimal('-4.0200'), Decimal('-6.0600'), Decimal('-0.1000'), Decimal('-0.2900'), Decimal('-0.1400'), Decimal('12.3000'), Decimal('4.4300'), Decimal('5.9700'), Decimal('0.1700'), Decimal('0.2600'), Decimal('-0.0200'), Decimal('11.8100'), Decimal('-4.5100'), Decimal('-5.9700'), Decimal('-0.0300'), Decimal('-0.4100'), Decimal('0.1000'), Decimal('11.6500'), Decimal('4.5900'), Decimal('5.9300'), Decimal('0.0700'), Decimal('0.3600'), Decimal('0.0300'))
data = ('                    ', '0', '20160121', '140948', '01', '02', '10', Decimal('12.1400'), Decimal('-4.3500'), Decimal('-6.0600'), Decimal('-0.1400'), Decimal('-0.2900'), Decimal('0.0000'), Decimal('11.1600'), Decimal('4.5100'), Decimal('6.1000'), Decimal('0.0300'), Decimal('0.2900'), Decimal('0.1400'), Decimal('11.4800'), Decimal('-3.9400'), Decimal('-6.0600'), Decimal('-0.1000'), Decimal('-0.2900'), Decimal('-0.1000'), Decimal('12.3000'), Decimal('4.4300'), Decimal('5.9700'), Decimal('0.1700'), Decimal('0.2600'), Decimal('-0.0300'), Decimal('11.8100'), Decimal('-4.5100'), Decimal('-6.0200'), Decimal('-0.0300'), Decimal('-0.4100'), Decimal('0.1000'), Decimal('11.5700'), Decimal('4.5900'), Decimal('5.9300'), Decimal('0.0700'), Decimal('0.3400'), Decimal('0.0300'))
data = ('                    ', '0', '20160121', '140949', '01', '01', '10', Decimal('12.0600'), Decimal('-4.3500'), Decimal('-6.0600'), Decimal('-0.1400'), Decimal('-0.2900'), Decimal('-0.0200'), Decimal('11.1600'), Decimal('4.5900'), Decimal('6.1000'), Decimal('0.0500'), Decimal('0.2900'), Decimal('0.1400'), Decimal('11.4000'), Decimal('-3.9400'), Decimal('-6.1000'), Decimal('-0.0900'), Decimal('-0.2700'), Decimal('-0.1200'), Decimal('12.2200'), Decimal('4.5100'), Decimal('6.0200'), Decimal('0.1700'), Decimal('0.2600'), Decimal('0.0000'), Decimal('11.8100'), Decimal('-4.5100'), Decimal('-5.9700'), Decimal('-0.0300'), Decimal('-0.4100'), Decimal('0.1000'), Decimal('11.6500'), Decimal('4.5900'), Decimal('5.9300'), Decimal('0.0700'), Decimal('0.3600'), Decimal('0.0300'))
data = ('                    ', '0', '20160121', '140951', '01', '01', '10', Decimal('12.0600'), Decimal('-4.3500'), Decimal('-6.0600'), Decimal('-0.1500'), Decimal('-0.3100'), Decimal('-0.0200'), Decimal('11.1600'), Decimal('4.5900'), Decimal('6.1000'), Decimal('0.0500'), Decimal('0.2900'), Decimal('0.1400'), Decimal('11.4000'), Decimal('-3.9400'), Decimal('-6.1000'), Decimal('-0.0900'), Decimal('-0.2900'), Decimal('-0.1000'), Decimal('12.3000'), Decimal('4.4300'), Decimal('5.9700'), Decimal('0.1900'), Decimal('0.2600'), Decimal('0.0000'), Decimal('11.8100'), Decimal('-4.5100'), Decimal('-6.0200'), Decimal('-0.0500'), Decimal('-0.4100'), Decimal('0.0900'), Decimal('11.6500'), Decimal('4.5900'), Decimal('5.9300'), Decimal('0.0700'), Decimal('0.3600'), Decimal('0.0300'))
data = ('                    ', '0', '20160121', '140952', '01', '02', '10', Decimal('12.0600'), Decimal('-4.2700'), Decimal('-6.0200'), Decimal('-0.1400'), Decimal('-0.3100'), Decimal('-0.0200'), Decimal('11.1600'), Decimal('4.5900'), Decimal('6.1000'), Decimal('0.0300'), Decimal('0.2900'), Decimal('0.1400'), Decimal('11.4000'), Decimal('-3.9400'), Decimal('-6.1000'), Decimal('-0.0900'), Decimal('-0.2900'), Decimal('-0.1000'), Decimal('12.3000'), Decimal('4.5100'), Decimal('6.0200'), Decimal('0.1700'), Decimal('0.2600'), Decimal('-0.0300'), Decimal('11.8900'), Decimal('-4.5100'), Decimal('-6.0200'), Decimal('-0.0300'), Decimal('-0.4100'), Decimal('0.0900'), Decimal('11.6500'), Decimal('4.6800'), Decimal('5.9300'), Decimal('0.0500'), Decimal('0.3600'), Decimal('0.0300'))
data = ('                    ', '0', '20160121', '140954', '01', '03', '10', Decimal('12.0600'), Decimal('-4.2700'), Decimal('-6.0600'), Decimal('-0.1400'), Decimal('-0.2900'), Decimal('-0.0300'), Decimal('11.1600'), Decimal('4.5900'), Decimal('6.1500'), Decimal('0.0300'), Decimal('0.2900'), Decimal('0.1400'), Decimal('11.4800'), Decimal('-4.0200'), Decimal('-6.1000'), Decimal('-0.0900'), Decimal('-0.2700'), Decimal('-0.1000'), Decimal('12.3000'), Decimal('4.4300'), Decimal('5.9700'), Decimal('0.1700'), Decimal('0.2600'), Decimal('0.0000'), Decimal('11.8100'), Decimal('-4.5100'), Decimal('-6.0200'), Decimal('-0.0300'), Decimal('-0.4100'), Decimal('0.1000'), Decimal('11.5700'), Decimal('4.5900'), Decimal('5.9700'), Decimal('0.0700'), Decimal('0.3600'), Decimal('0.0300'))
data = ('                    ', '0', '20160121', '140956', '01', '01', '10', Decimal('12.0600'), Decimal('-4.4300'), Decimal('-6.0200'), Decimal('-0.1500'), Decimal('-0.3100'), Decimal('-0.0200'), Decimal('11.1600'), Decimal('4.5900'), Decimal('6.1000'), Decimal('0.0300'), Decimal('0.2900'), Decimal('0.1400'), Decimal('11.4000'), Decimal('-3.9400'), Decimal('-6.1000'), Decimal('-0.0900'), Decimal('-0.2700'), Decimal('-0.1000'), Decimal('12.3000'), Decimal('4.4300'), Decimal('5.9700'), Decimal('0.1700'), Decimal('0.2600'), Decimal('0.0000'), Decimal('11.8100'), Decimal('-4.5100'), Decimal('-6.0200'), Decimal('-0.0300'), Decimal('-0.4100'), Decimal('0.0900'), Decimal('11.5700'), Decimal('4.6800'), Decimal('5.9300'), Decimal('0.0700'), Decimal('0.3600'), Decimal('0.0300'))
data = ('                    ', '0', '20160121', '140957', '01', '01', '10', Decimal('12.1400'), Decimal('-4.3500'), Decimal('-6.0600'), Decimal('-0.1400'), Decimal('-0.3100'), Decimal('0.0000'), Decimal('11.1600'), Decimal('4.5900'), Decimal('6.1000'), Decimal('0.0300'), Decimal('0.3100'), Decimal('0.1500'), Decimal('11.3200'), Decimal('-3.9400'), Decimal('-6.0600'), Decimal('-0.0900'), Decimal('-0.2700'), Decimal('-0.1000'), Decimal('12.2200'), Decimal('4.4300'), Decimal('5.9700'), Decimal('0.1700'), Decimal('0.2600'), Decimal('-0.0300'), Decimal('11.8100'), Decimal('-4.5100'), Decimal('-6.0200'), Decimal('-0.0300'), Decimal('-0.4100'), Decimal('0.1000'), Decimal('11.6500'), Decimal('4.5900'), Decimal('5.9300'), Decimal('0.0700'), Decimal('0.3600'), Decimal('0.0300'))